/* RESET CSS BROWSER */
body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

s ul,
ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main-wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    /*Esconde los elementos del conteiner*/


    /* Estilos de grilla */
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer"
    ;
}

.nav-header-main-content {
    width: 83%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    color: #2153b1;
    ;
}

img {
    max-width: 100%;
}

/*---------- BORDES PRINCIPALES ----------*/
/* nav,
header,
main,
footer {
    border: solid 2px red;
} */


/*---------- INICIO DEL NAV ----------*/
nav {
    grid-area: nav;
    height: 60px;
    font-size: 11px;
    font-weight: 400;
    /* peso de la letra */

    align-items: center;
    /*Alinea el contenido de forma vertical*/
    display: flex;
    justify-content: space-between;

}

/* Imagenes */
.logo-university {
    width: 100px;
    margin: 0px 35px;
}

.ico-sesion {
    width: 35px;
}

/* Nav List */
.nav-listMain {
    display: flex;
    flex: 1;
    gap: 25px;
}

.nav-listMain-mob {
    display: none;
}

/* Iniciar Sesion */
.nav_sesion {
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 20px;
}

.nav_sesion_two {
    display: none
}

.nav_sesion a {
    padding: 0;
    margin-right: 10px;
    align-items: center;
    color: black;
}

.ico-sesion {
    width: 30px;
    margin-left: 15px;

}

/* Boton Hamburguesa */
#check {
    display: none;
}

.check-btn {
    display: none;
}


/*---------- INICIO DEL HEADER ----------*/
header {
    grid-area: header;
    height: 80vh;
    color: white;

    background-image: url('public/img-hover-university.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    display: flex;
    align-items: center;
}

.header-div {
    background-color: #062a6d;
    max-width: 300px;
    margin-left: 150px;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.header-tile {
    margin-bottom: 20px;
    font-size: 25px;
}

.header-div p {
    font-size: 16px;
    font-weight: 400;
}


/*---------- INICIO DEL MAIN ----------*/

main {
    grid-area: main;
    height: max-content;

}

main img {
    width: 300px;
}

/*----- Secccion Noticias -----*/
.notice_grid {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.notice-article {
    max-width: 320px;
    background-color: #f7f7f7;
    box-shadow: 0 0 12px #d7d7d7;
}

.notice_img {
    width: 100%;
    display: block;
}

.notice_texts {
    line-height: 1.5;
    font-size: 0.8em;
    padding: 1.5rem;
    font-weight: 300;
}

.notice_texts h3 {
    color: #2153b1;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.notice_texts p {
    margin-bottom: 0.5rem;
}

.notice-leer-mas {
    background-color: #eeeeee;
    display: flex;
}

.notice-leer-mas a {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    background-color: #062a6d;
    color: white;
    display: flex;
    justify-content: center;

}

/*----- Secccion Facultades -----*/
.faculties-grid {
    margin-top: 30px;
    gap: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.faculties-grid-one {
    gap: 80px;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.faculties-artes {
    max-width: 440px;
    min-width: 440px;
    height: 32vh;
    background-image: url(public/img-facultad-artes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.faculties-ciencias {
    max-width: 440px;
    min-width: 440px;
    height: 32vh;
    background-image: url(public/img-facultad-ciencias.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.faculties-grid-two {
    margin-top: 30px;
    gap: 80px;
    padding: 0 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.faculties-humanidades {
    max-width: 440px;
    min-width: 440px;
    height: 32vh;
    background-image: url(public/img-facultad-humanidades.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.faculties-estudos-int {
    max-width: 450px;
    min-width: 450px;
    height: 32vh;
    background-image: url(public/img-facultad-estudios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.faculties_texts {
    padding: 20px;
    margin: 0 80px;
    background-color: #062a6d;
    color: white;

}

.faculties_texts h3 {
    margin-bottom: 10px;
    font-size: 17px;

}

.faculties_texts p {
    font-size: 12px;
    font-weight: 300;
}

.faculties-conoce-mas {
    display: flex;
    width: 100%;
    background-color: #0097ee;

}

.faculties-conoce-mas a {
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}


/* -------------------------------------------------------------------- */

/* seccion cifras */
.section-statistics {
    padding: 30px 0px;
    grid-area: section-statistics;

}

.statistics-grid {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    gap: 90px;

}


.statistics-grid article {
    max-width: 200px;
    margin-top: 40px;
    text-align: center;
}

.statistics-icon {
    width: 40px;
}

.statistics-grid h3 {
    margin-top: 7px;
    font-size: 22px;
}

.section-statistics h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.statistics-p {
    margin-top: 7px;
    font-size: 14px;
}


/* -------------------------------------------------------------------- */

/* seccion matriculate */
.section-enroll {
    grid-area: section-enroll;
    padding: 50px 50px;
    display: flex;
    position: relative;
    align-items: center;

}

.enroll-img {
    width: 800px;
    border-radius: 10px;
}

.enroll_texts {
    margin-left: -150px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 40px;
    font-weight: 300;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.enroll_title {
    font-size: 25px;
    margin-bottom: 15px;
    color: #2153b1;
}

.enroll_texts p {
    font-size: 16px;
}










/*---------- INICIO DEL FOOTER ----------*/
/*-- ESTILADO DE MI FOOTER --*/
footer {
    grid-area: footer;
    background-color: #333333;
    height: max-content;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.footer-socialNetworks {
    width: 100%;
    background-color: #173a7c;
}

.footer-title {
    padding: 20px 0;
    background-color: #062257;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;

}

.footer-socialNetworks-links {
    padding: 30px;
}

.footer-icon {
    padding: 0 20px;
    width: 55px;
}

.footer-grid {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px 30px;
}

.footer-grid ul {
    text-align: left;
}

.tableUniversidad-text {
    color: #ffffff;
    margin-bottom: 7px;
    font-weight: 300;
    text-align: left;
}

.tableUniversidad-title {
    color: #82aeff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.footer-acreditada {
    max-width: 320px;
    padding: 25px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*-- ESTILADO DE MI MAIN UNIVERSIDAD --*/
.main-universidad{
    width: 83%;
    margin: 0 auto;
}

.main-universidad h2{
    margin-top: 0;
}

.main-universidad h3{
    margin-left: 25px;
    font-size: 22px;
}

/* Estilos generales */
.universidad-subtitle{
    margin-top: 50px;
    color: #2153b1;
}

.universidad-par{
    margin-top: 25px;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 300;
}

/* ---------------------------------- */

.universidad-seccion-universidad{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.universidad-seccion-universidad img{
    margin-top: 50px;
    width: 100%;
    padding: 50 auto;
    height: 73vh;
    margin-bottom: 30px;

}

.ranking{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

.ranking-article{
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px #d7d7d7;
    
}

.ranking-p{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
}

/* -------------------------------------------------------------------- */


.universidad-seccion-campus{
    margin-top: 120px;
}

.campus{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    gap: 30px;
}

.campus article{
    max-width: 520px;
    min-width: 520px;
    min-height: 290px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 12px #d7d7d7;
}


.campus-central{
    background-image: url(public/img-campus-central.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.campus-oriente{
    background-image: url(public/img-campus-oriente.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.campus-norte{
    background-image: url(public/img-campus-norte.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.campus-sur{
    background-image: url(public/img-campus-sur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.campus h3{
    padding: 0.8rem;
    font-size: 20px;
    color: #ffffff;
    background-color: #062257;
    display: flex;
}









/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*------------ media queries 1440px ------------*/
@media (max-width:1440px) {

    /* Seccion Matriculate */
    .enroll_texts {
        display: none;
    }

    .faculties-artes,
    .faculties-ciencias,
    .faculties-humanidades,
    .faculties-estudos-int {
        max-width: 350px;
        min-width: 350px;
        height: 28vh;
    }


}


/*------------ media queries 1024px ------------ */
@media (max-width:1024px) {

    /* Contenedor de nav, header y main */
    .nav-header-main-content {
        width: 100%;
    }

    /* ---------- HEADER ---------- */
    header {
        height: 60vh;
    }

    /* ---------- MAIN ---------- */

    .faculties-grid-one {
        gap: 40px;
    }

    .faculties-grid-two {
        gap: 40px;
    }


    .faculties-artes,
    .faculties-ciencias,
    .faculties-humanidades,
    .faculties-estudos-int {
        max-width: 320px;
        min-width: 320px;
        height: 24vh;
    }

    .faculties_texts {
        padding: 14px;
        margin: 0 0px;
        background-color: #062a6d;
        color: white;

    }





    /*------------- media queries 768px -------------*/
    @media (max-width:768px) {

        /* ---------- NAV ---------- */

        /* Nav Hamburguesa */
        .check-btn {
            margin-left: 12px;

            display: block;
            cursor: pointer;
        }

        /* Al apretar el icono hamburguesa muestro el nav mobile */
        .nav_input:checked+.nav-listMain-mob {
            clip-path: circle(100% at center);
        }

        /* escondo el nav principal */
        .nav-listMain {
            display: none;
        }

        /* hago visible el nav mobile */
        .nav-listMain-mob {
            display: block;
            width: 75%;
            height: max-content;
            top: 60px;
            bottom: 0;
            left: 0;
            gap: 0.5px;
            background-color: #acacac;

            position: absolute;
            display: flex;
            flex-direction: column;
            clip-path: circle(0 at center);
            z-index: 100;
            /*Lo pone por encima de todo*/
        }

        .nav-listMain-mob a {
            width: 98%;
            height: 97%;
            font-size: 16px;
            font-weight: 500;
            color: white;
            background-color: #062a6d;


            display: flex;
            /*deja que el tamano del a sea igual al del contenedor*/
            align-items: center;
            justify-content: center;
        }

        .nav-listMain-mob li {
            height: 80px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Boton Iniciar Sesion */
        .nav_sesion {
            display: none
        }

        .nav_sesion_two {
            margin-right: 20px;

            display: block;
        }




        /* ---------- FOOTER ---------- */
        .footer-grid {
            display: none;
        }

        .footer-title {
            font-size: 22px;

        }

        .footer-icon {
            padding: 0 20px;
            width: 35px;
        }

        /* ---------- HEADER ---------- */

        header {
            height: 50vh;
        }

        .header-div {
            margin: 0 auto;
        }

        /* ---------- MAIN ---------- */

        
        .statistics-hidden {
            display: none;
        }

        /* Seccion enroll */
        .section-enroll {
            display: none;
        }
    }





    /*------------- media queries 480px -------------*/
    @media (max-width:480px) {

        h2 {
            font-size: 23px;
        }

        /* ---------- HEADER ---------- */

        header {
            height: 35vh;
        }

        .header-div {
            width: 100%;
            margin: 0 auto;
            padding: 30px 20px;
        }

        .header-tile {
            font-size: 1.3em;
        }

        .header-div p {
            font-size: 0.8em;
        }

        /* ---------- MAIN---------- */

        /* Seccion Cifras */
        .statistics-grid {
            gap: 20px;
        }

        .statistics-grid h3 {
            font-size: 18px;
        }

        .statistics-p {
            font-size: 12px;
        }

        .statistics-hidden {
            display: none;
        }

        /* Seccion enroll */
        .section-enroll {
            display: none;
        }
    }
}